{% set title = "Tags" %} {% extends 'layout.html' %} {% block page_content %}
<style>
  :root {
    /* colors to use */
    --ziki-purple: #280a66;
    --ziki-white: #fff;
    --ziki-gray: #888;

    /* light mode */
    --blog-date-text-color: var(--ziki-purple);
    --blog-preview-text-color: var(--ziki-gray);
  }

  .one {
    background-color: red;
    height: 100vh;
  }

  .main-content {
    min-height: 100vh;
  }

  .img-container {
    background: url('/resources/themes/ghost/assets/img/active.jpg') no-repeat
      center / cover;
  }

  .blog-date {
    color: var(--blog-date-text-color);
    font-size: 0.8em;
  }

  .blog-title {
    font-weight: bold;
  }

  .blog-preview {
    color: var(--blog-preview-text-color);
  }

  .second {
    background-color: blue;
    height: 25vh;
  }
</style>

<div class="row">
  <div class="col-12 col-sm-3 one">Sidebar</div>

  <div class="col-12 col-sm-9 main-content p-5">
    <div class="row">
      <div class="col-12">
        <div class="row pt-4 pb-4">
          <div class="col-3 img-container"></div>
          <div class="col-8">
            <p class="blog-date">2nd April 2019</p>
            <h3 class="blog-title">
              What I think of Donald Glover's New Video
            </h3>
            <p class="blog-preview">
              I assume you only want the dots to appear in red? Unfortunately
              this isn't possible with simple css. However I found a tutorial
              which manages to make a custom ellipsis style, that will only be
              displayed when it's necessary:
            </p>
          </div>
        </div>

        <div class="row pt-4 pb-4">
          <div class="col-3 img-container"></div>
          <div class="col-8">
            <p class="blog-date">2nd April 2019</p>
            <h3 class="blog-title">
              What I think of Donald Glover's New Video
            </h3>
            <p class="blog-preview">
              I assume you only want the dots to appear in red? Unfortunately
              this isn't possible with simple css. However I found a tutorial
              which manages to make a custom ellipsis style, that will only be
              displayed when it's necessary:
            </p>
          </div>
        </div>

        <div class="row pt-4 pb-4">
          <div class="col-3 img-container"></div>
          <div class="col-8">
            <p class="blog-date">2nd April 2019</p>
            <h3 class="blog-title">
              What I think of Donald Glover's New Video
            </h3>
            <p class="blog-preview">
              I assume you only want the dots to appear in red? Unfortunately
              this isn't possible with simple css. However I found a tutorial
              which manages to make a custom ellipsis style, that will only be
              displayed when it's necessary:
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
