<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lucid</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link
      rel="stylesheet"
      href="./vendors/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>
  <style>
    .one {
      background-color: red;
      height: 100vh;
    }

    .two {
      background-color: yellow;
      height: 100vh;
    }

    .second {
      background-color: blue;
      height: 25vh;
    }
  </style>

  <body>
    <div class="container-fluid them">
      <div class="row">
        <div class="col-12 col-sm-3 one">Hello</div>

        <div class="col-12 col-sm-9 two">
          <div class="row">
            <div class="col-12">
              <div class="row pt-4 pb-4">
                <div class="col-2 col-sm-2">Image</div>
                <div class="col-10 col-sm-9">
                  <div class="second">Blog summary content</div>
                </div>
              </div>

              <div class="row pt-4 pb-4">
                <div class="col-2 col-sm-2">Image</div>
                <div class="col-10 col-sm-9">
                  <div class="second">Blog summary content</div>
                </div>
              </div>

              <div class="row pt-4 pb-4">
                <div class="col-2 col-sm-2">Image</div>
                <div class="col-10 col-sm-9">
                  <div class="second">Blog summary content</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"></script>
  </body>
</html>
